
.container
  %h2 Latest collections

  %p Did we miss your bins? Check for issues we already know about or add a new issue.

  %p Please select the containers that have not been collected. Make sure to review any reported issues with the collection before submitting a report.

  / # = form_tag(next_wizard_path, method: "get") do
  - @services.each do |service|
    .panel.panel-info
      .panel-heading
        %h2.panel-title= service.name
      .panel-body
        - if service['next_collection']
          .res-label Next collection
          .collection-date= formatted_date(service.next_collection.date)
        - if service['last_collection']
          .res-label Last collection
          .collection-date= formatted_date(service.last_collection.date)
          %h4 Events
          - service.last_collection.events.each do |event|
            %p= event['type']
            %img.pull-left{"src"=>"#{event['image']}"}

      %ul.list-group

        - service.container_types.each do |container|
          %li.list-group-item
            .checkbox.lg.pull-right
              %label
                = check_box_tag(:container)
            %h4.container-name
              = container.description
            - container.material_streams.each do |material_stream|
              %span.material-stream
                = material_stream.name

            - if service['events']
              %ul.list-group
                - service.events.each do |event|
                  - if event.container_color == container.color
                    %li.list-group-item.list-group-item-danger
                      %span.glyphicon.glyphicon-exclamation-sign
                      .event-type= event.type



  = link_to 'Back', previous_wizard_path, {"class" =>"btn btn-default"}
  = link_to 'Report missed collection', next_wizard_path, {"class" =>"btn btn-primary"}
